<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoken Indumentaria</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
    <%- include('partials/header') %> 
    <main>
        <div class="bienvenida-container">
            <div class="bienvenida-overlay"></div>
            <div class="bienvenida">
                <h1>Bienvenido a Hoken Indumentaria</h1>
                <p>Encontrá las mejores camisetas calidad triple A de tus equipos favoritos. Calidad y pasión en cada prenda.
                    Envíos a todo el país <i class="fas fa-truck"></i></p>
                </p>
            </div>
        </div>
        <div class="mas-vendidos">
            <h2>Artículos más vendidos</h2>
        </div>
        <div class="art-container">
            <div class="art">
                <img src="/images/argentina-2022-suplente.jpg" alt="camiseta destacada">
                <div class="art-content">
                    <h3>Argentina 2022 Suplente</h3>
                    <p>Con un diseño elegante y distintivo, la camiseta destaca por sus colores vibrantes y el emblemático escudo de la AFA. Fabricada con materiales de alta calidad y la mejor confección.
                    </p>
                    <a href="" class="button-ver-mas">Ver Mas</a>
                </div>
            </div>
            <div class="art">
                <img src="/images/milan-2025-titular.jpg" alt="camiseta destacada">
                <div class="art-content">
                    <h3>Milan 2025 Titular</h3>
                    <p>Diseñada por Puma, esta camiseta rinde homenaje a los colores emblemáticos del club, el rojo y el negro. Con materiales de alta calidad y detalles excepcionales, esta réplica triple A te permitirá llevar con orgullo el espíritu milanista.
                    </p>
                    <a href="" class="button-ver-mas">Ver Mas</a>
                </div>
            </div>
            <div class="art">
                <img src="/images/argentina-2022-titular.jpg" alt="camiseta destacada">
                <div class="art-content">
                    <h3>Argentina 2022 Titular</h3>
                    <p>Con el icónico celeste y blanco, esta camiseta cuenta con los detalles más emblemáticos, incluyendo el escudo de la AFA y los tradicionales colores argentinos.
                    </p>
                    <a href="" class="button-ver-mas">Ver Mas</a>
                </div>
            </div>
        </div>
        <%- include('partials/footer') %>
    </main>
</body>
</html>
