<header>
    <link rel="stylesheet" href="/css/header.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet" />
    <a href="/" class="logo"><i class="ri-football-fill"></i><span class="animacion-texto-logo">Hoken</span></a>
    <form class="form-busqueda">
      <input type="text" class="input-busqueda" placeholder="Buscar productos...">
      <button type="submit" class="button-busqueda"><i class="fa-solid fa-magnifying-glass"></i></button>
  </form>  
    <ul class="navbar">
      <li><a href="selecciones">Selecciones</a></li>
      <li><a href="/">Equipos</a></li>
      <li><a href="/">Accesorios</a></li>
      <li><a href="/">Nosotros</a></li>
    </ul>
    <div class="form">
      <a href="/login" class="username"><i class="ri-user-3-fill"></i>Iniciar Sesión</a>
      <a href="/register" class="register">Registro</a>
      <div class="bx bx-menu" id="icono-hamburguesa"></div>
      
    </div>
    
    <script src="/js/menu.js"></script>
  </header>
  